echo "➡ Entered project folder: starting GitLab Runner..."


sudo systemctl start gitlab-runner 2>/dev/null


runner_status=$(systemctl is-active gitlab-runner 2>/dev/null)

if [[ "$runner_status" == "active" ]]; then
    echo " GitLab Runner is RUNNING"
else
    echo " GitLab Runner is NOT running (status: $runner_status)"
fi
